Code
dconf
jamesdsp
session
arkrc
dolphinrc
katemetainfos
katerc
katevirc
nwg-panel/executors
nwg-panel/icons_color
nwg-panel/icons_light
nwg-panel/icons_dark
pavucontrol-qt
pulse
kconf_updaterc
kdeglobals
khotkeysrc
kiorc
konsolerc
konsolesshconfig
kwriterc
QtProject.conf
trashrc
KDE/UserFeedback.conf
kde.org/UserFeedback.org.kde.dolphin.conf
kde.org/UserFeedback.org.kde.kate.conf
kde.org/UserFeedback.org.kde.kwrite.conf
